.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.top-row {
	background-color: #e7d0ba;
}
body { padding-top: 50px; }