{% extends "base.html" %}
{% block title %}Sonez{% endblock %}
{% block head %}
<!--     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">     --> <!-- this is lagging hard -->
<link rel="stylesheet" href="css/sc-player-standard.css" type="text/css">
 {% endblock %}

{% block content %}
<!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="heading">Sonez</h1>
                        
      </div>
                        

        <hr class="intro-divider">
        <h3 class ="about booking"> living life and making music </h3>
<ul class="list-inline intro-social-buttons">
                            <li >
                                 <a href="https://www.instagram.com/iamsonez/">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x link-white"></i>
                                  <i class="fa fa-instagram fa-fw link-white"></i>
                                </span>
                                    </a>
                                    <a href="https://soundcloud.com/iamsonez">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x link-white"></i>
                                  <i class="fa fa-soundcloud fa-fw link-white"></i>
                                </span>
                                    </a>
                            </li>
                        </ul>
                       
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

        </div>

<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">New From Sonez</h2>
                       <div class="row soundcloud-player"> 
                           
                    <a href="https://soundcloud.com/iamsonez" class="sc-player">Sonez</a>
                    
                </div>

                          
            </div>


        </div>
        <!-- /.container -->

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul> -->
                    <!-- <p class="copyright text-muted small">Copyright &copy; Sonez </p> -->
                </div>
            </div>
        </div>
<script>    
$(document).ready(function() {
	$('li').removeClass('active');
	$('#present_li').addClass('active');
    $('body').addClass('present-background');

	

	$('#faq_button').click(function() {
		$('#faq_img').toggleClass('fa-sort-desc fa-sort-asc') 
		$('#faqs_container').toggle();

		if($('#faqs_container').is(":visible"))
		{
		  $('#faqs_container h3').each(function() {
		var tis = $(this), state = false, answer = tis.next('div').hide().css('height','auto').slideUp();
		tis.click(function() {
			state = !state;
			answer.slideToggle(state);
			tis.toggleClass('active',state);
		});
	});
		}
		
	});
});


</script>
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="js/soundcloud.player.api.js"></script>
<script type="text/javascript" src="js/sc-player.js"></script>
{% endblock %}
<!-- <title>Present</title>
<h1>Present</h1> -->